.booking-bg {
    margin-left: auto;
    margin-right: auto;

    border-top: 10px;
    height: auto;
    display: flex;


    position: relative;
    align-items: center;


}

.rb {
    margin-right: auto;
    margin-left: auto;
}

.rb h1 {
    font-family: 'Barranco Black', sans-serif;
    font-size: 65px;


}

.bform {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.form {
    position: absolute;
}

.bgr {
    background-color: rgba(150, 0, 24);
    border-top: 10px solid white;


}

.btn-primary {
    border-radius: 1;
    background-color: white;
    color: black;
}

.body-section {
    position: relative;
    height: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;

}

.body-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(http://localhost/ABC-hotel//images/hotelbg2.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

.about-right {}

.about-right img {
    vertical-align: middle;
    width: 100%;
    height: 40vh;
    margin-inline-start: auto;

}

.about-left {
    height: 40vh;
    display: flex;
    align-items: center;

}

#spec {
    font-size: larger;
    padding-bottom: 10px;
}

.deluxe {
    position: relative;
}

.deluxe img {

    width: 100%;
    height: 50vh;
    object-fit: cover;
    opacity: 70%;
    background-color: white;
}

.caption {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    ;
    color: black;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Barranco Black', sans-serif;
}

.con {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 0, 24);

}

.text {
    text-align: center;
    color: white;
    font-family: 'Barranco Black', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;


}

.p1 {
    padding-bottom: 10px;
    font-size: 20px;
}

.he1 {
    padding-bottom: 10px;
    font-size: 20px;
}

.room1 {
    background-color: white;
}

.body-section2 {
    position: relative;
    height: fit-content;
    width: 100%;
    overflow: hidden;

}

.body-section2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/h1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
}

.about-right2 {
    position: absolute;
    bottom: 30px;
    right: 5px;
    top: 40px;

}

.about-right2 img {
    vertical-align: middle;
    width: 120%;
    height: 30vh;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.about-left2 {
    height: 40vh;
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-family: 'Barranco Black', sans-serif;

}